body {
  padding-top: 60px;
  padding-bottom: 60px; }
  body .edit-mode {
    background: #000; }

a {
  text-decoration: underline; }
  a:active, a:visited, a:hover {
    color: #1c98c1; }
  a:hover {
    text-decoration: none; }
