body {
  padding-top: 60px;
  padding-bottom: 60px; }
  body .edit-mode {
    background: #000; }

a {
  text-decoration: underline; }
  a:active, a:visited, a:hover {
    color: #1c98c1; }
  a:hover {
    text-decoration: none; }

.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; }
  .main-menu ul li {
    float: left; }
    .main-menu ul li a {
      display: block;
      padding: 10px; }

.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden; }
  .widget.donate a {
    display: block;
    color: #fff;
    background: #d64824;
    border-bottom: 3px solid #be3f1f;
    padding: 15px;
    text-decoration: none; }
    .widget.donate a span {
      font-size: 19px;
      font-weight: bold;
      display: block; }
  .widget.helpline {
    background: #1f1f38;
    color: #fff;
    padding: 15px;
    border-bottom: 3px solid #1a1a31; }
    .widget.helpline a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: normal; }
    .widget.helpline .tel {
      display: block;
      font-size: 25px;
      font-weight: bold;
      font-style: none !important; }
