
	$gutter: 20px;

	$red-high: #d64824;
	$red-low: #be3f1f;
	$red-text: #fff;

	$navy-high: #1f1f38;
	$navy-low: #1a1a31;
	$navy-text: #fff;

	$light-blue-high: #b6d1ba;
	$light-blue-low: #a2baa5;
	$light-blue-text: inherit;

	$yellow-high: #edbc1a;
	$yellow-low: #d4a817;	