/* #Media Queries
================================================== */

	@media only screen and (max-width: 959px) {
		.main-menu{
			display: none;
		}

		.mobile-menu-toggle{
			display: block;
		}
	}

	@media only screen and (max-width: 479px) {
		h1 {
			img{
				width: 234px;
			}
		}
	}