@mixin rounded($radius){
	border-radius: $radius;
}

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin reset-links($colour){
  a, 
  a:active, 
  a:visited, 
  a:hover{
    color: $colour;
  }  
}